* {
	font-family:helvetica;
}

#save-profile {
	border-radius: 20px;
	background-color: green;
}

.search-or-add-button {
	margin-top: 10px;
	background-color: green;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	text-align: center;
	color: white;
}

#topmost-part {
	background-color: black;
	padding-bottom: 1px;
}

#age-label {
	margin-right: 32px;
}

#gender-label {
	margin-right: 30px;
}

a:link {
	color: white;
	text-decoration: none;
}
	
a:hover {
	background-color: green;
	text-decoration: underline;
}

a:visited {
	color: white;
	text-decoration: none;
}

body {
	background-color: tan;
}
#register-button {
	background-color: black;
}

#index {
	color: black;
}

#index-login {
	padding-bottom: 40px;
}


.login {
	color: white;
	text-align: right;
}


.login-textbox {
	margin-bottom: 10px;
	margin-right: 30px;
	margin-top: 10px;
}

.login-button {
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 20px;
	margin-right: 25px;
	margin-top: 14px;
	font-weight: bold;
	background-color: green;
	border-radius: 40px;
}

.login-grid {
	display: grid;
	grid-template-areas: 'username username',
						 'password password',
						 'login register';		
	grid-template-rows: 30px 30px 30px;
	margin-top: -65px;
	background-color: black;
}

.item1 {
	grid-area: username;
}

.item2 {
	grid-area: password;
}

.item3 {
	grid-area: login;
}

.item4 {
	grid-area: register;
}

.search-textbox {
	font-size: 30px;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 10px;
}

.search-textbox-register {
	font-size: 30px;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 550px;
}

#form-container {
	text-align: center;
	font-size: 30px;
}

#table-page-top {
	position: fixed;
	width: 1700px;
	margin-top: -30px;
}

#recipe-table-listing {
	margin-top: 130px;
	position: absolute;
}

.register-box {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.register-box-overall {
	background-color: grey;
	text-align: center;
	font-size: 30px;
}

#register-box-overall1 {
	background-color: black;
}

#after-login-heading {
	color: green;
	padding-top: 15px;
}

button {
	font-size:2em;
	padding:5px;
	border-radius:10px;
	box-shadow:3px 3px;
}
            
.input-span {
        display: block;
        overflow: hidden;
        padding-right: 5px;
        padding-left: 10px;
}
                   
span > input{ 
 	width: 100%;
 	font-size:1.2em;
}



.profile-textarea {
	font-family: "Garamond", serif;
	display: block;
}
  
.menu-container {
  	color:#EEE;
  	background-color:#222;
  	padding:6px;
  	font-size:1.5em;
}